#about-01 {
	position:absolute;
	left:0px;
	top:0px;
	width:1280px;
	height:151px;
}

#about-02 {
	position:absolute;
	left:0px;
	top:151px;
	width:511px;
	height:173px;
}

#about-03 {
	position:absolute;
	left:511px;
	top:151px;
	width:183px;
	height:40px;
}

#about-04 {
	position:absolute;
	left:694px;
	top:151px;
	width:586px;
	height:131px;
}

#about-05 {
	position:absolute;
	left:511px;
	top:191px;
	width:183px;
	height:91px;
}

#about-06 {
	position:absolute;
	left:511px;
	top:282px;
	width:132px;
	height:42px;
}

#about-07 {
	position:absolute;
	left:643px;
	top:282px;
	width:585px;
	height:596px;
}

#about-08 {
	position:absolute;
	left:1228px;
	top:282px;
	width:52px;
	height:798px;
}

#about-09 {
	position:absolute;
	left:0px;
	top:324px;
	width:215px;
	height:756px;
}

#about-10 {
	position:absolute;
	left:215px;
	top:324px;
	width:378px;
	height:252px;
}

#about-11 {
	position:absolute;
	left:593px;
	top:324px;
	width:50px;
	height:756px;
}

#about-12 {
	position:absolute;
	left:215px;
	top:576px;
	width:378px;
	height:55px;
}

#about-13 {
	position:absolute;
	left:215px;
	top:631px;
	width:378px;
	height:251px;
}

#about-14 {
	position:absolute;
	left:643px;
	top:878px;
	width:585px;
	height:202px;
}

#about-15 {
	position:absolute;
	left:215px;
	top:882px;
	width:378px;
	height:198px;
}
#Locate-us-01 {
	position:absolute;
	left:0px;
	top:0px;
	width:1280px;
	height:151px;
}

#Locate-us-02 {
	position:absolute;
	left:0px;
	top:151px;
	width:511px;
	height:173px;
}

#Locate-us-03 {
	position:absolute;
	left:511px;
	top:151px;
	width:183px;
	height:40px;
}

#Locate-us-04 {
	position:absolute;
	left:694px;
	top:151px;
	width:586px;
	height:131px;
}

#Locate-us-05 {
	position:absolute;
	left:511px;
	top:191px;
	width:183px;
	height:91px;
}

#Locate-us-06 {
	position:absolute;
	left:511px;
	top:282px;
	width:132px;
	height:42px;
}

#Locate-us-07 {
	position:absolute;
	left:643px;
	top:282px;
	width:585px;
	height:596px;
}

#Locate-us-08 {
	position:absolute;
	left:1228px;
	top:282px;
	width:52px;
	height:798px;
}

#Locate-us-09 {
	position:absolute;
	left:0px;
	top:324px;
	width:215px;
	height:756px;
}

#Locate-us-10 {
	position:absolute;
	left:215px;
	top:324px;
	width:378px;
	height:252px;
}

#Locate-us-11 {
	position:absolute;
	left:593px;
	top:324px;
	width:50px;
	height:756px;
}

#Locate-us-12 {
	position:absolute;
	left:215px;
	top:576px;
	width:378px;
	height:55px;
}

#Locate-us-13 {
	position:absolute;
	left:215px;
	top:631px;
	width:378px;
	height:251px;
}

#Locate-us-14 {
	position:absolute;
	left:643px;
	top:878px;
	width:585px;
	height:202px;
}

#Locate-us-15 {
	position:absolute;
	left:215px;
	top:882px;
	width:378px;
	height:198px;
}
#Order-Pizza-01 {
	position:absolute;
	left:0px;
	top:0px;
	width:1280px;
	height:151px;
}

#Order-Pizza-02 {
	position:absolute;
	left:0px;
	top:151px;
	width:511px;
	height:152px;
}

#Order-Pizza-03 {
	position:absolute;
	left:511px;
	top:151px;
	width:183px;
	height:40px;
}

#Order-Pizza-04 {
	position:absolute;
	left:694px;
	top:151px;
	width:586px;
	height:112px;
}

#Order-Pizza-05 {
	position:absolute;
	left:511px;
	top:191px;
	width:183px;
	height:112px;
}

#Order-Pizza-06 {
	position:absolute;
	left:694px;
	top:263px;
	width:354px;
	height:40px;
}

#Order-Pizza-07 {
	position:absolute;
	left:1048px;
	top:263px;
	width:191px;
	height:47px;
}

#Order-Pizza-08 {
	position:absolute;
	left:1239px;
	top:263px;
	width:41px;
	height:817px;
}

#Order-Pizza-09 {
	position:absolute;
	left:0px;
	top:303px;
	width:319px;
	height:777px;
}

#Order-Pizza-10 {
	position:absolute;
	left:319px;
	top:303px;
	width:185px;
	height:39px;
}

#Order-Pizza-11 {
	position:absolute;
	left:504px;
	top:303px;
	width:33px;
	height:777px;
}

#Order-Pizza-12 {
	position:absolute;
	left:537px;
	top:303px;
	width:187px;
	height:39px;
}

#Order-Pizza-13 {
	position:absolute;
	left:724px;
	top:303px;
	width:39px;
	height:777px;
}

#Order-Pizza-14 {
	position:absolute;
	left:763px;
	top:303px;
	width:186px;
	height:39px;
}

#Order-Pizza-15 {
	position:absolute;
	left:949px;
	top:303px;
	width:99px;
	height:777px;
}

#Order-Pizza-16 {
	position:absolute;
	left:1048px;
	top:310px;
	width:191px;
	height:770px;
}

#Order-Pizza-17 {
	position:absolute;
	left:319px;
	top:342px;
	width:185px;
	height:738px;
}

#Order-Pizza-18 {
	position:absolute;
	left:537px;
	top:342px;
	width:187px;
	height:738px;
}

#Order-Pizza-19 {
	position:absolute;
	left:763px;
	top:342px;
	width:186px;
	height:738px;
}
#Order-Salads-01 {
	position:absolute;
	left:0px;
	top:0px;
	width:1280px;
	height:151px;
}

#Order-Salads-02 {
	position:absolute;
	left:0px;
	top:151px;
	width:511px;
	height:152px;
}

#Order-Salads-03 {
	position:absolute;
	left:511px;
	top:151px;
	width:183px;
	height:40px;
}

#Order-Salads-04 {
	position:absolute;
	left:694px;
	top:151px;
	width:586px;
	height:112px;
}

#Order-Salads-05 {
	position:absolute;
	left:511px;
	top:191px;
	width:183px;
	height:112px;
}

#Order-Salads-06 {
	position:absolute;
	left:694px;
	top:263px;
	width:354px;
	height:40px;
}

#Order-Salads-07 {
	position:absolute;
	left:1048px;
	top:263px;
	width:191px;
	height:47px;
}

#Order-Salads-08 {
	position:absolute;
	left:1239px;
	top:263px;
	width:41px;
	height:817px;
}

#Order-Salads-09 {
	position:absolute;
	left:0px;
	top:303px;
	width:319px;
	height:777px;
}

#Order-Salads-10 {
	position:absolute;
	left:319px;
	top:303px;
	width:185px;
	height:39px;
}

#Order-Salads-11 {
	position:absolute;
	left:504px;
	top:303px;
	width:33px;
	height:777px;
}

#Order-Salads-12 {
	position:absolute;
	left:537px;
	top:303px;
	width:187px;
	height:39px;
}

#Order-Salads-13 {
	position:absolute;
	left:724px;
	top:303px;
	width:39px;
	height:777px;
}

#Order-Salads-14 {
	position:absolute;
	left:763px;
	top:303px;
	width:186px;
	height:39px;
}

#Order-Salads-15 {
	position:absolute;
	left:949px;
	top:303px;
	width:99px;
	height:777px;
}

#Order-Salads-16 {
	position:absolute;
	left:1048px;
	top:310px;
	width:191px;
	height:770px;
}

#Order-Salads-17 {
	position:absolute;
	left:319px;
	top:342px;
	width:185px;
	height:738px;
}

#Order-Salads-18 {
	position:absolute;
	left:537px;
	top:342px;
	width:187px;
	height:738px;
}

#Order-Salads-19 {
	position:absolute;
	left:763px;
	top:342px;
	width:186px;
	height:738px;
}
#Order-Breadsticks-01 {
	position:absolute;
	left:0px;
	top:0px;
	width:1280px;
	height:151px;
}

#Order-Breadsticks-02 {
	position:absolute;
	left:0px;
	top:151px;
	width:511px;
	height:152px;
}

#Order-Breadsticks-03 {
	position:absolute;
	left:511px;
	top:151px;
	width:183px;
	height:40px;
}

#Order-Breadsticks-04 {
	position:absolute;
	left:694px;
	top:151px;
	width:586px;
	height:112px;
}

#Order-Breadsticks-05 {
	position:absolute;
	left:511px;
	top:191px;
	width:183px;
	height:112px;
}

#Order-Breadsticks-06 {
	position:absolute;
	left:694px;
	top:263px;
	width:354px;
	height:40px;
}

#Order-Breadsticks-07 {
	position:absolute;
	left:1048px;
	top:263px;
	width:191px;
	height:47px;
}

#Order-Breadsticks-08 {
	position:absolute;
	left:1239px;
	top:263px;
	width:41px;
	height:817px;
}

#Order-Breadsticks-09 {
	position:absolute;
	left:0px;
	top:303px;
	width:319px;
	height:777px;
}

#Order-Breadsticks-10 {
	position:absolute;
	left:319px;
	top:303px;
	width:185px;
	height:39px;
}

#Order-Breadsticks-11 {
	position:absolute;
	left:504px;
	top:303px;
	width:33px;
	height:777px;
}

#Order-Breadsticks-12 {
	position:absolute;
	left:537px;
	top:303px;
	width:187px;
	height:39px;
}

#Order-Breadsticks-13 {
	position:absolute;
	left:724px;
	top:303px;
	width:39px;
	height:777px;
}

#Order-Breadsticks-14 {
	position:absolute;
	left:763px;
	top:303px;
	width:186px;
	height:39px;
}

#Order-Breadsticks-15 {
	position:absolute;
	left:949px;
	top:303px;
	width:99px;
	height:777px;
}

#Order-Breadsticks-16 {
	position:absolute;
	left:1048px;
	top:310px;
	width:191px;
	height:770px;
}

#Order-Breadsticks-17 {
	position:absolute;
	left:319px;
	top:342px;
	width:185px;
	height:738px;
}

#Order-Breadsticks-18 {
	position:absolute;
	left:537px;
	top:342px;
	width:187px;
	height:738px;
}

#Order-Breadsticks-19 {
	position:absolute;
	left:763px;
	top:342px;
	width:186px;
	height:738px;
}
#Order-Main-01 {
	position:absolute;
	left:0px;
	top:0px;
	width:1280px;
	height:151px;
}

#Order-Main-02 {
	position:absolute;
	left:0px;
	top:151px;
	width:511px;
	height:152px;
}

#Order-Main-03 {
	position:absolute;
	left:511px;
	top:151px;
	width:183px;
	height:40px;
}

#Order-Main-04 {
	position:absolute;
	left:694px;
	top:151px;
	width:586px;
	height:112px;
}

#Order-Main-05 {
	position:absolute;
	left:511px;
	top:191px;
	width:183px;
	height:112px;
}

#Order-Main-06 {
	position:absolute;
	left:694px;
	top:263px;
	width:354px;
	height:40px;
}

#Order-Main-07 {
	position:absolute;
	left:1048px;
	top:263px;
	width:191px;
	height:47px;
}

#Order-Main-08 {
	position:absolute;
	left:1239px;
	top:263px;
	width:41px;
	height:817px;
}

#Order-Main-09 {
	position:absolute;
	left:0px;
	top:303px;
	width:319px;
	height:777px;
}

#Order-Main-10 {
	position:absolute;
	left:319px;
	top:303px;
	width:185px;
	height:39px;
}

#Order-Main-11 {
	position:absolute;
	left:504px;
	top:303px;
	width:33px;
	height:777px;
}

#Order-Main-12 {
	position:absolute;
	left:537px;
	top:303px;
	width:187px;
	height:39px;
}

#Order-Main-13 {
	position:absolute;
	left:724px;
	top:303px;
	width:39px;
	height:777px;
}

#Order-Main-14 {
	position:absolute;
	left:763px;
	top:303px;
	width:186px;
	height:39px;
}

#Order-Main-15 {
	position:absolute;
	left:949px;
	top:303px;
	width:99px;
	height:777px;
}

#Order-Main-16 {
	position:absolute;
	left:1048px;
	top:310px;
	width:191px;
	height:770px;
}

#Order-Main-17 {
	position:absolute;
	left:319px;
	top:342px;
	width:185px;
	height:738px;
}

#Order-Main-18 {
	position:absolute;
	left:537px;
	top:342px;
	width:187px;
	height:738px;
}

#Order-Main-19 {
	position:absolute;
	left:763px;
	top:342px;
	width:186px;
	height:738px;
}
body {
	font-family: "Myriad Pro";
	position: absolute;
	height: 1080px;
	width: 1280px;
}
#Table_01 {
	position:absolute;
	left:0px;
	top:0px;
	width:1280px;
	height:1080px;
}
#Login-01 {
	position:absolute;
	left:0px;
	top:0px;
	width:1280px;
	height:151px;
}

#Login-02 {
	position:absolute;
	left:0px;
	top:151px;
	width:511px;
	height:173px;
}

#Login-03 {
	position:absolute;
	left:511px;
	top:151px;
	width:183px;
	height:40px;
}

#Login-04 {
	position:absolute;
	left:694px;
	top:151px;
	width:586px;
	height:131px;
}

#Login-05 {
	position:absolute;
	left:511px;
	top:191px;
	width:183px;
	height:91px;
}

#Login-06 {
	position:absolute;
	left:511px;
	top:282px;
	width:132px;
	height:42px;
}

#Login-07 {
	position:absolute;
	left:643px;
	top:282px;
	width:585px;
	height:596px;
}

#Login-08 {
	position:absolute;
	left:1228px;
	top:282px;
	width:52px;
	height:798px;
}

#Login-09 {
	position:absolute;
	left:0px;
	top:324px;
	width:215px;
	height:756px;
}

#Login-10 {
	position:absolute;
	left:215px;
	top:324px;
	width:378px;
	height:252px;
}

#Login-11 {
	position:absolute;
	left:593px;
	top:324px;
	width:50px;
	height:756px;
}

#Login-12 {
	position:absolute;
	left:215px;
	top:576px;
	width:378px;
	height:55px;
}

#Login-13 {
	position:absolute;
	left:215px;
	top:631px;
	width:378px;
	height:251px;
}

#Login-14 {
	position:absolute;
	left:643px;
	top:878px;
	width:585px;
	height:202px;
}

#Login-15 {
	position:absolute;
	left:215px;
	top:882px;
	width:378px;
	height:198px;
}


#Home-01 {
	position:absolute;
	left:0px;
	top:0px;
	width:1280px;
	height:151px;
}

#Home-02 {
	position:absolute;
	left:0px;
	top:151px;
	width:511px;
	height:173px;
}

#Home-03 {
	position:absolute;
	left:511px;
	top:151px;
	width:183px;
	height:40px;
}

#Home-04 {
	position: absolute;
	left: 734px;
	top: 151px;
	width: 183px;
	height: 40px;
}

#Home-05 {
	position:absolute;
	left:511px;
	top:191px;
	width:183px;
	height:91px;
}

#Home-06 {
	position:absolute;
	left:511px;
	top:282px;
	width:132px;
	height:42px;
}

#Home-07 {
	position:absolute;
	left:643px;
	top:282px;
	width:585px;
	height:596px;
}

#Home-08 {
	position:absolute;
	left:1228px;
	top:282px;
	width:52px;
	height:798px;
}

#Home-09 {
	position:absolute;
	left:0px;
	top:324px;
	width:215px;
	height:756px;
}

#Home-10 {
	position:absolute;
	left:215px;
	top:324px;
	width:378px;
	height:252px;
}

#Home-11 {
	position:absolute;
	left:593px;
	top:324px;
	width:50px;
	height:756px;
}

#Home-12 {
	position:absolute;
	left:215px;
	top:576px;
	width:378px;
	height:55px;
}

#Home-13 {
	position:absolute;
	left:215px;
	top:631px;
	width:378px;
	height:251px;
}

#Home-14 {
	position:absolute;
	left:643px;
	top:878px;
	width:585px;
	height:202px;
}

#Home-15 {
	position:absolute;
	left:215px;
	top:882px;
	width:378px;
	height:198px;
}

#Home-16 {
	position: absolute;
	left: 957px;
	top: 151px;
	width: 183px;
	height: 40px;
}
td {
	font-family: Arial, Helvetica, sans-serif;
}

th {
	font-family: Arial, Helvetica, sans-serif;
}
a {
	font-family: "Myriad Pro";
	font-style: normal;
	color: #666;
	text-decoration: none;
}
